#navigation {
  display: block;
  width: 100%;
  background-color: #2C64AE;
  color: white;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2C64AE;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  li {
    float: left;

    a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    a.is-active {
      background-color: white;
      color: #2C64AE;
    }

    a:hover {
      background-color: white;
      color: #2C64AE;
    }
  }
}