<header id="header">
  <div class="header--container">
    <div class="header--logo">
      <a href="/">
        <img src="/{{ directory }}/images/Parsons_Logo.jpg" alt="Parson's maintenance logo">
      </a>
    </div>
    <div class="header--slogan">
      <ul>
        <li>Affordable</li>
        <li>Professional</li>
        <li>Reliable</li>
      </ul>
    </div>
    <div class="header--contact">
      Monday to Friday: 8am to 5pm<br />
      Weekends: Appointment and Emergency<br />
      <b>226-820-3096</b><br />
      <a href="mailto:parsons.maintenance@gmail.com">parsons.maintenance@gmail.com</a>
    </div>
  </div>
</header>